#logo {
  font-size: 2.5em;
  font-weight: bold;
  color: aliceblue;
}

#main {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 25% 50% auto;
  grid-template-areas:
    "nav    nav    nav"
    "left  feed   right";
}

/* @media (max-width: 400px) {
  #main {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      " nav "
      " feed ";
  }
  #right {
    display: none;
  }
  #left {
    display: none;
  }
}

@media (max-width: 800px) {
  #main {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      " nav nav "
      " feed right";
  }
  #left {
    display: none;
  }
} */

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  grid-area: nav;
  background-color: #8ca0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#left {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  grid-area: left;
  background-color: khaki;
}

#right {
  grid-area: right;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  background-color: darkgoldenrod;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chat-box {
  background-color: deeppink;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#messages {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  background-color: deeppink;
  overflow: hidden;
  z-index: 3;
  padding-left: 1em;
  padding-right: 1em;
}

#messages:hover {
  overflow-y: scroll;
}

form {
  height: 50px;
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

/* dont touch from here */

#feeds {
  grid-area: feed;
}

#extras {
  background-color: aqua;
}

.feed {
  margin: 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feed-user {
  align-self: flex-start;
  margin-bottom: 0.5em;
  color: darkgrey;
}

.feed-title {
  align-self: flex-start;

  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.feed-img {
  max-width: 400px;
  object-fit: cover;
  margin-bottom: 1em;
}

.feed-meta {
  align-self: flex-start;
  margin-bottom: 0.5em;
  color: rgb(150, 148, 148);
}

.feed-icon {
  margin-right: 0.5em;
}

.feed-icon {
  cursor: pointer;
}

#add-feed {
  position: absolute;
  right: 25%;
}

.msg {
  background-color: darkseagreen;
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
}

#btn-emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  padding: 0px;
  background-color: transparent;
}

#btn-emoji {
  cursor: pointer;
}
/* 
.btn-emoji:focus {
  background-color: transparent;
} */
